<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--针对一张表的映射文件-->
<!--此处是Message-->
<!--2.-->
<mapper namespace="com.mybatis.xmldemo.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.xmldemo.model.Message">
        <!--配置主键映射关系，配置主键可以增加查询效率-->
        <id column="msg_id" property="msgId" jdbcType="BIGINT"/>
        <!--配置普通字段的映射关系-->
        <result column="msg_text" property="msgText" jdbcType="VARCHAR"/>
        <result column="msg_summary" property="msgSummary" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        msg_id, msg_text, msg_summy
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from message
    </select>

    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from message
        where msg_id = #{msgId}
    </select>

    <insert id="insert" parameterType="com.mybatis.xmldemo.model.Message">
        insert into message(msg_text, msg_summary) values (#{msgText}, #{msgSummary})
    </insert>

    <insert id="batchInsert" parameterType="com.mybatis.xmldemo.model.Message">
        insert into message (msg_text, msg_summary) values
        <foreach collection="list" item="msg" index="index" separator=",">
            (#{msg.msgText}, #{msg.msgSummary})
        </foreach>
    </insert>

    <update id="update" parameterType="com.mybatis.xmldemo.model.Message">
        update message set
        <if test="msgText != null">msg_text=#{msgText},</if>
        <if test="msgSummary != null">msg_summary=#{msgSummary}</if>
        where msg_id = #{msgId}
    </update>

    <update id="updateText" parameterType="com.mybatis.xmldemo.model.Message">
        update message
        <set>
            <if test="msgText != null and msgText !=''"> msg_text=#{msgText},</if>
            <if test="msgSummary !=null and msgSummary !=''"> msg_summary=#{msgText}</if>
        </set>
        where msg_id =#{msgId}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from message where msg_id=#{msgId}
    </delete>
</mapper>
